@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@100&family=Vazirmatn:wght@100;200;400;900&display=swap');
* {
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Vazirmatn', sans-serif;
}